:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #404048;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
}

a {
  text-decoration: none;
  color: #17a2bb8;
}

h1 {
  font-size: 56px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  display: block;
  font-size: 36px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  display: block;
  font-size: 28px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

section {
  height: 100vh;
}

/* .s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  background-image: url(/static/images/bower.JPG);
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
} */

.container {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

.intro__hello {
  font-size: 2.5rem;
}

.intro__tagline {
  max-width: 1000px;
}

.intro__contact {
  font-size: 1.5rem;
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 120px 100px;
}

.section__title {
  color: #007bff;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__category {
  width: 50%;
}

.socialLinks {
  display: flex;
  align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
  border-radius: 100%;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .intro {
    padding: 70px 50px;
  }

  .intro__hello {
    font-size: 1.75rem;
  }

  .intro__tagline {
    font-size: 1.75rem;
  }

  .intro__contact {
    font-size: 1.25rem;
  }

  .lg-view {
    display: none;
  }

  .sm-view {
    display: inline-block;
  }

  .section {
    padding: 70px 50px;
    display: block;
    justify-content: center;
  }

  .section__title {
    width: auto;
    text-align: left;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
