:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
}

html,
body {
  background-color: white;
  font-family: "Inconsolata";
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
}

p,
li,
span,
label,
input,
textarea {
}
