:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #353a3d;

  --accentColor: #007bff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #404048;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
}

li {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 56px;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  display: block;
  font-size: 36px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h3 {
  display: block;
  font-size: 28px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

/* .s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  background-image: url(/static/images/bower.JPG);
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
} */

.container {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

.intro__hello {
  font-size: 2.5rem;
  font-weight: 800;
}

.intro__tagline {
  max-width: 1000px;
  font-weight: 800;
}

.intro__contact {
  font-size: 1.5rem;
  font-weight: 700;
}

.link {
  color: var(--mainText);
  text-decoration: underline;
  text-decoration-color: #007bff;
}

.lg-view {
  display: inline-block;
}

.sm-view {
  display: none;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 120px 100px;
  font-weight: 700;
}

.section__title {
  color: var(--accentColor);
  font-weight: 900;
}

.section__content {
  padding: 10px;
  font-weight: 600;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__category {
  width: 50%;
}

.resume {
  padding-top: 30px;
}

.project {
  padding-bottom: 30px;
}

.project__title {
  font-weight: 900;
  display: inline-block;
}

.project__description {
  font-weight: 500;
}

.project__used__item {
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-weight: 600;
  font-size: 0.8rem;
  border: var(--accentColor) 1px solid;
  border-radius: 5px;
  padding: 2px 5px;
  color: var(--accentColor);
}

.footer {
  display: block;
}

.footer__copyright {
  width: auto;
  text-align: center;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.icon {
  color: var(--accentColor);
  top: 5px;
  left: 20px;
  padding: 10px;
}

.arrow {
  position: relative;
  top: 6px;
  left: 0px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .intro {
    padding: 70px 50px;
  }

  .intro__hello {
    font-size: 1.75rem;
  }

  .intro__tagline {
    font-size: 1.75rem;
  }

  .intro__contact {
    font-size: 1.25rem;
  }

  .lg-view {
    display: none;
  }

  .sm-view {
    display: inline-block;
  }

  .section {
    padding: 70px 50px;
    display: block;
    justify-content: center;
  }

  .section__title {
    width: auto;
    text-align: left;
    font-size: 1.3rem;
  }

  .section__content {
    font-size: 1rem;
  }

  .project__title {
    font-size: 1.25rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
